{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TwoDo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    <link rel="icon" href="{% static "style/favicon.ico" %}">
</head>
<script>
const select = document.getElementById("taskFilter");
const wrapper = select.parentElement;

select.addEventListener("click", () => {
    wrapper.classList.toggle("open");
});

select.addEventListener("blur", () => {
    wrapper.classList.remove("open");
});
</script>
<body>
{% if messages %}
    {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
{% endif %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="message-box">
                <p class="error">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

<script src="{% static 'scripts/main.js' %}"></script>

</body>
</html>