{% extends "base_view.html" %}

{% block title %}Edit Task{% endblock %}

{% block content %}
<h1>Edit Task</h1>

<form method="post">
    {% csrf_token %}

    <label for="name">Task Name</label><br>
    <input type="text" name="name" id="name" value="{{ task.name }}" required><br><br>

    <label for="description">Description</label><br>
    <input type="text" name="description" id="description" value="{{ task.description }}"><br><br>

    <button type="submit">Save</button>
</form>

<p><a href="{% url 'tasks' %}">Cancel</a></p>
{% endblock %}
