{% extends "base_view.html" %}

{% block title %}TwoDo - Online Task Management{% endblock %}

{% block content %}
    <h1>TwoDo</h1>
    <h3>The best way to complete tasks is finally here!</h3>
    <p>
        <a href="{% url 'register' %}">
            <button class="bigbutton">Sign Up</button>
        </a>
        <a href="{% url 'login' %}">
            <button class="bigbutton">Login</button>
        </a>
    </p>
    <h2>Why TwoDo?</h2>
    <h3>
        TwoDo allows you to share your tasks with your team members for more effective teamwork.
        You also gain access to completely free and useful features by using our product!
    </h3>
{% endblock %}