{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="icon" href="{% static "style/favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p class="error">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label for="username">Username: </label>
        {{ form.username }}<br>
        <label for="password">Password: </label>
        {{ form.password1 }}<br>
        <label for="conf_password">Confirm Password: </label>
        {{ form.password2 }}<br>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login/">Login</a></p>
</body>
</html>