{% extends "base_view.html" %}

{% block title %}Your Tasks{% endblock %}

{% block content %}
<h1>Your Tasks</h1>
    
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <td>
            <input type="checkbox" {% if task.status %}checked{% endif %} disabled>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No tasks yet 🎉</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
