{% extends "base_view.html" %}

{% block title %}Your Tasks{% endblock %}

{% block content %}
    <h1>Your Tasks</h1>

    <table>
        <p>
            <a href="{% url 'create' %}">
                <button class="smallbutton">Create New Task</button>
            </a>
        </p>

            <form method="get">
                <label for="filter">Filter:</label>
                <div class="select-wrapper">
                    <select name="filter" id="filter" onchange="this.form.submit()">
                        <option value="" {% if not current_filter %}selected{% endif %}>
                            All
                        </option>
                        <option value="active" {% if current_filter == "active" %}selected{% endif %}>
                            Active
                        </option>
                        <option value="completed" {% if current_filter == "completed" %}selected{% endif %}>
                            Completed
                        </option>
                    </select>
                </div>
            </form>
            <form method="get">
                <label for="list">Filter by List:</label>
                <div class="select-wrapper">
                    <select name="list" id="list" onchange="this.form.submit()">
                        <option value="">All Lists</option>

                        {% for list in lists %}
                            <option value="{{ list.id }}"
                                {% if list.id|stringformat:"s" == selected_list_id %}
                                    selected
                                {% endif %}
                            >
                                {{ list.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </form><br
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>

        {% for task in tasks %}
        <tr class="{% if task.status %}completed{% endif %}">
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>
                <form action="{% url 'toggle_status' task.id %}" method="post">
                    {% csrf_token %}
                    <input type="checkbox"
                           name="status"
                           onchange="this.form.submit()"
                           {% if task.status %}checked{% endif %}>
                </form>
            </td>
            <td>
                <a href="{% url 'edit' task.id %}">
                    <button class="smallbutton">Edit</button>
                </a>

                <form action="{% url 'delete' task.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Delete this task?');" class="smallbutton">Delete</button>
                </form>
            </td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="4">No tasks yet 🎉</td>
            </tr>
        {% endfor %}
    </table>
    <p>
        <a href="{% url 'home' %}">
            <button class="smallbutton">Return to the Home Page</button>
        </a>
    </p>
{% endblock %}