{% extends "base_view.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h1>Change Password</h1>

<form method="post">
    {% csrf_token %}

    <div>
        <label>Current Password</label><br>
        {{ form.old_password }}
    </div>

    <br>

    <div>
        <label>New Password</label><br>
        {{ form.new_password1 }}
    </div>

    <br>

    <div>
        <label>Confirm New Password</label><br>
        {{ form.new_password2 }}
    </div>

    <br>

    <button type="submit">Update Password</button>
</form>

<br>

<a href="{% url 'profile' request.user.username %}">
    <button>Cancel</button>
</a>

{% endblock %}